@import url(https://www.w3schools.com/w3css/4/w3.css);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Cinzel|Fauna+One);
@import url(https://fonts.googleapis.com/css?family=Charm);
@import url(https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap);


body,h1,h2,h3,h4,h5,h6 {font-family: "Georgia", sans-serif;}
body, html {
  height: 100%;
  color: #000;
  line-height: 1.8;
}
/*font*/
.lavishly-yours-regular {
  font-family: "Lavishly Yours", serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  font-style: normal;
  font-size: 100px;
}
.passions-conflict-regular {
  font-family: "Passions Conflict", serif;
  font-weight: 400;
  letter-spacing: -0.05em;
  font-style: normal;
  font-size: 100px;
}


/* image sizing */
img {
  position: center;
  max-width: 100%;
  padding: 10px;
  margin: 0;
  object-fit: cover;
}

.pic {
    border-radius: 50%;
}

/* Style the counter cards */
.card {
    box-shadow: 0 6px 10px 0 rgba(72, 67, 73, 0.2); /* this adds the "card" effect */
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: #f2def7;
    line-height: 25px;
  }

.plate {
  box-shadow: 0 6px 10px 0 rgba(72, 67, 73, 0.2); /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-width: 5px;
}


div {
  text-align: center;
  vertical-align: middle;
}

.imgdiv {
  background-image: url('image/border_2.jpg');
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: 105vw 105vh;
  width: 102vw; 
  height: 102vh; 
  position: fixed; 
  top: 0px; 
  left: 0px;
  z-index: -1;
}


/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url(image/line.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url(image/line.png);
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url(image/line.png);
  min-height: 400px;
}

#timer {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-family: lato, serif;
  font-size: .7em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.days, .hours, .minutes, .seconds {
  display: inline-block;
  padding: 5px;
  width: 60px;
  border-radius: 15px;
  background: #d2b48c;
}

.numbers {
  font-family: Cinzel, serif;
  color: black;
  font-size: 2.5em;
  text-align: center;
}

table, th, td {
  border: 1px solid transparent;
  border-collapse: collapse;
  text-align: center;
  padding: 0.75em;
}

th {
  background-color: transparent;
  text-align: center;
  border-bottom: 2px solid black;
}

#submit{
	border: none;
	background-color: #d2b48c;
	color: black;
  max-width: 600px;
	width: 100%;
	margin-top: 10px;
	border-radius: 5px;
}
#submit:hover{
	background-color: whitesmoke;
}


.w3-wide {font-family: Cinzel, serif; letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
.cursive {font-family: Charm, sans-serif; font-size: 20px;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1200px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    max-height: 100px;
  }

  input,
  textarea {
    width: 100%;
    padding: 0.2em;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px; /* Set the desired font size */
  }
}

@media only screen and (max-device-width: 650px) {
  .imgdiv {
    background-image: url('image/border.png');
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: 105vw 105vh;
    width: 102vw; 
    height: 102vh; 
    position: fixed; 
    top: 0px; 
    left: 0px;
    z-index: -1;
  }

  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    max-height: 100px;
  }

  #timer {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: lato, serif;
    font-size: .7em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .days, .hours, .minutes, .seconds {
    display: inline-block;
    padding: 5px;
    width: 60px;
    border-radius: 15px;
    background: #d2b48c;
  }

  .numbers {
    font-family: Cinzel, serif;
    color: black;
    font-size: 2.5em;
    text-align: center;
  }

  input,
  textarea {
    width: 100%;
    padding: .2em;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px; /* Set the desired font size */
  }
}

@media only screen and (max-device-width: 370px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    max-height: 400px;
  }

  #timer {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: lato, serif;
    font-size: .7em;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .days, .hours, .minutes, .seconds {
    display: inline-block;
    padding: 5px;
    width: 60px;
    border-radius: 15px;
    background: #d2b48c;
  }

  .numbers {
    font-family: Cinzel, serif;
    color: black;
    font-size: 2.5em;
    text-align: center;
  }

  input,
  textarea {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 18px; /* Adjust font size for larger screens */
  }
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #8becfd;
  color: rgb(0, 0, 0);
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensures the button is on top */
}

.floating-button:hover {
  opacity: 0.3;
  background-color: #587cc4;
}

.hide {
  opacity: 0;
  filter: blur(5px);
  transition: all 3s;
}

.fill {
  opacity: 0;
  filter: blur(5px);
  transform: scale(50%);
  transition: all 3s;
}

.drop {
  opacity: 1;
  filter: blur(5px);
  transform: translateY(-50%);
  transition: all 3s;
}

.rise {
  opacity: 1;
  filter: blur(5px);
  transform: translateY(50%);
  transition: all 3s;
}

.slide {
  opacity: 1;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 3s;
}

.swish {
  opacity: 1;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 3s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: scale(100%);
  transform: translate3d(0,0,0);
  transform: scale3d(100%,100%,100%);
}

.hidden {
  display: none;
}

#transitionElement {
  transition: opacity 1.0s ease-in-out, transform 0.5s ease-in-out; /* Add more properties if needed */
}

#transitionElement.exiting {
  opacity: 0;
  transform: translateY(-50px); /* Move the element up */
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Adjust for element's size */
  width: 80%; /* Width relative to viewport */
  max-width: 600px; /* Maximum width for larger screens */
  height: auto; /* Allow content to determine height */
  max-height: 90%; /* Maximum height, leaving some space */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(126, 238, 253); /* Black w/ opacity */
  padding: 20px; /* Add some padding around modal */
  box-sizing: border-box; /* Include padding in width/height */
  border-radius: 20px; 
}

.modal-content {
  background-color: #94d4fa;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}